@using FlowBudget.Client.Components.Diagrams
@using FlowBudget.Client.Components.Helpers
@using global::DTO
@inject IStringLocalizer<SharedResources> L

<MudPaper Elevation="4" Class="py-2 px-4 d-flex flex-column"
          Style="height: 100%; max-height: 100%; width: 100%; border-radius: 16px; overflow: hidden;">

    <div class="flex-grow-1 d-flex justify-center align-center" style="min-height: 0;">
        <LineChart Pockets="Pockets" ViewMode="_viewMode" Date="_date" />
    </div>

    <MudDivider Class="my-4" />

    <MudStack Row="true" Spacing="4" Class="flex-grow-0 mt-auto" AlignItems="AlignItems.Center">

        @* ViewMode *@
        <MudSelect T="ChartViewMode" Label="@L["view_mode"]" @bind-Value="_viewMode"
                   Variant="Variant.Outlined" Dense="true">
            @foreach (ChartViewMode mode in Enum.GetValues(typeof(ChartViewMode)))
            {
                <MudSelectItem Value="@mode">@mode.ToTitle(L)</MudSelectItem>
            }
        </MudSelect>

        @* Date *@
        <MudDatePicker Label="@L["date"]" @bind-Date="_datePicker"
                       Variant="Variant.Outlined" Editable="true" Dense="true" />

    </MudStack>
</MudPaper>

@code {
    [Parameter] public required List<PocketDTO> Pockets { get; set; }

    private ChartViewMode _viewMode = ChartViewMode.Weekly;
    private DateTime _date = DateTime.Today;

    private DateTime? _datePicker
    {
        get => _date;
        set { if (value.HasValue) _date = value.Value; }
    }
}
